html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 110%;
  background-color: white;
}

#left-margin, #right-margin {
  width: 20%;
  padding: 5px;
  position: fixed;

  ul {
    padding: 5px;
    list-style-type: none;
  }
}

#left-margin {
  margin-left: 10px;
  text-align: left;
  left: 0;
}

#right-margin {
  margin-right: 10px;
  text-align: right;
  right: 0;
}

#page {
  height: 100%;
  width: 40% ;
  margin: 0 auto;
  padding: 5px;

  table {
    border-collapse: collapse;
    border: 2px solid grey;
  }

  td, th {
    border: 2px solid grey;
    padding: 5px;
  }

  code {
    /*
     "fix my font size" is not a font family.
      See https://mkhl.codeberg.page/monospace-font-size, he (mkhl) explains it
      really well, in my opinion.
    */
     font-family: "fix my font size", monospace;
}

.page-title {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.page-body {
  padding: 10px;
  text-align: left;
}

.page-note {
  margin: 10px auto 10px auto;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid grey;
  background-color: lightgrey;
}

.project-entry {
  max-width: 90%;
  margin: 10px auto 10px auto;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid grey;
  text-align: center;

  p {
    text-align: left;
  }
}

.important {
  background-color: lightcoral;
}
